@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.organizationCards {
  width: 130vh;
  margin-left: 100px;
  margin-top: 20px;
  color: violet;
}
.MainOrganizationCards {
  width: 160vh;
  margin-left: 170px;
  margin-top: 20px;
  background-color: #00c0d8;
}
.individualCards {
  width: 190vh;
  height: 350px;
  margin-left: 30px;
  margin-top: 60px;
}

.firstColumn {
  position: relative;
  z-index: 10;
  right: 20vh;
  width: 70vh;
}
.discover {
  width: 90vh;
  top: 50px;
  margin-left:15vh;
}
.animal{
margin-bottom: 50vh;
}
.animacard{
  height: 140vh;
}
.moreInfo {
  width: 70vh;
  height: 70vh;
  position: relative;
margin-top: 14vh;
  bottom: 650px;
  left: 120vh;
}
.WorkingHours {
  position: relative;

  z-index: 10;
  font-size: large;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr); /* two columns with equal width */
}
.CardLogos {
  margin-left: 60px;
}
.detailed-page {
  height: 1250px;
}
body {
  background-color: #e4e2f1;
}
.topmoreInfo {
  width: 550px;
  margin-left: 20px;
  height: 200px;
  position: relative;
  z-index: 10;
  bottom: 1150px;
  left: 1200px;
}
.picture {
  width: 520px;
  position: relative;
  margin-left: 0px;
  z-index: 12;
}
