@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.organizationCards {
  width: 1300px;
  margin-left: 100px;
  margin-top: 20px;
  color: violet;
}
.MainOrganizationCards {
  width: 1600px;
  margin-left: 170px;
  margin-top: 20px;
  background-color: #00c0d8;
}
.individualCards {
  width: 1680px;
  height: 350px;
  margin-left: 100px;
  margin-top: 60px;
}
.SecondColumn {
  position: relative;
  z-index: 10;
  left: 30px;
  bottom: 20px;
  right: 0;
}
.firstColumn {
  position: relative;
  z-index: 10;
  right: 200px;
  width: 400px;
}
.discover {
  position: relative;
  width: 1150px;
  top: 50px;
  margin-left: 20px;
}
.moreInfo {
  width: 550px;
  margin-left: 20px;
  height: 570px;
  position: relative;
  z-index: 10;
  bottom: 550px;
  left: 1200px;
}
.WorkingHours {
  position: relative;
  margin-right: 200px;
  z-index: 10;
  font-size: large;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr); /* two columns with equal width */
}
.CardLogos {
  margin-left: 60px;
}
.detailed-page {
  height: 1250px;
}
body {
  background-color: #e4e2f1;
}
.topmoreInfo {
  width: 550px;
  margin-left: 20px;
  height: 200px;
  position: relative;
  z-index: 10;
  bottom: 1150px;
  left: 1200px;
}
.picture {
  width: 520px;
  position: relative;
  margin-left: 0px;
  z-index: 12;
}
